* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form {  padding: 3px; position: absolute; bottom: 0; width: 100%; margin-right: 10px; border: 2px solid #777;}
form input { border: 0; padding: 10px; width:88%}
li{
	list-style: none;
}
form button { width: 11%;
    background: rgb(18, 18, 19);
    border: none;
    padding: 10px;
    box-sizing: border-box;
    color: #fff; }
.chatarea{
	width: 100%;
	position: relative;
	height: 485px;
}
.chatBoard{
	width: 100%;
	background:#000;
	padding: 4px;
}
.chatbox-heading{
	  font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}
.user{
	text-transform: uppercase;
}
#messages { list-style-type: none; margin: 0; padding: 0; height:400px; overflow-y: scroll; overflow-x:hidden; word-wrap:normal; }
#messages li { padding: 5px 10px; color: #ccc; }
#messages li:nth-child(odd) { color: #fff; }

.uselist{
	background: #ccc;
	padding: 10px;
	text-transform: uppercase;	
}
.uselist h3{
  margin-top: 10px;
  border-bottom: 5px solid #777;
  padding-bottom: 5px;
}
.userMsg{
	font-weight: 700;
	font-size: 18px;
	color: green;
	text-transform: capitalize;
}
.list{
	background: rgba(255,255,255, .2);
}
.list li{
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	background: #cfc;
}
.list li:nth-child(odd){
	background: #cff;
}
.list li:before{
	content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: green;
  position: absolute;
  left: 0;
  left: -10px;
  z-index: 222;
  top: 20%;
  margin-right: 20px;
}
.userAdd{
	margin-top: 30px;
}
.chat_write{
	position: relative;
	bottom:20px;
	left: 10px;
}
.flashuser{
  background: rgba(255,255,255,.3);
  color: #fff;
  width: 200px;
  height: 30px;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 30px;
  margin-top: 10px;
}
.chatlog{
	background: #ccc;
  border: 1px solid #ccc;
  height: 473px;
}
.chatlog h3{
	text-align: center;
    margin-top: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    background: #555;
    padding: 10px 0 5px;
}
.log{
	font-size: 11px;
}
.log li{
  margin-bottom:5px;
}
.log .user{
	font-size: 12px;
  color: green;
}
.log .time{
	background: #000;
  color: #FFF;
  padding: 2px 1px;
}
#messages .time{
  background: #fff;
  color: #000;
  padding: 5px 4px;
}